.search-container{
    margin: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-card-container,
.everything{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.load-more-btn{
    display: block;
    margin: 5rem auto;
    padding: 2rem 5rem;
    background: blue;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}