#main{

    .hero-bg{
        background: var(--primary-color);
        min-height: 70vh;
        background-size: cover;
        
        .container{
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 10rem;
            position: relative;
            text-align: center;

            h1{
                color: var(--txt-color-primary);
                font-weight: 800;
                font-size: 6.5rem;
            }
    
            p{
                color: var(--txt-color-secondary);
                font-size: 1.6rem;
                max-width: 100rem;
                margin: 2rem 0 5rem;
            }

            .search-container{
                max-width: 60rem;
                width: 100%;

                form{
                    display: flex;
                    background: var(--bg-color);
                    border-radius: 100px;
                    padding: 1rem;
                    width: 100%;

                    .input{
                        background: transparent;
                        border: 0;
                        padding: 1.7rem;
                        color: var(--txt-color-primary);
                        font-size: 1.6rem;
                        flex: 1;
                    }
                    
                    button{
                        border-radius: 100px;
                        padding: 0 3rem;
                        background: linear-gradient(to top right, #ff862e, #ff69ee);
                        color: #fff;
                        font-weight: 600;
                        letter-spacing: 1px;
                        font-size: 1.6rem;
                    }
                }
            }
        }

        .hero-1{
            position: absolute;
            left: -73rem;
            top: -23rem;
        }
        
        .hero-2{
            position: absolute;
            right: -43rem;
            top: -19rem;
        }
    }

    .container{
        position: relative;
        z-index: 1;
        
        .sort-container{
            margin-bottom: 7rem;
            gap: 2rem;
            display: flex;
            justify-content: center;

            button{
                border-radius: 100px;
                padding: 1.8rem 4rem;
                color: #fff;
                background: transparent;
                border: 1px solid rgba(255, 255, 255, 0.26);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: 1.6rem;
                transition: border .3s ease;
                
                &.active{
                    background: linear-gradient(to top right, #ff862e, #ff69ee);
                    border: none;
                }
                &.active:hover{
                    border: none;
                }
                &:hover{
                    border: 1px solid rgba(255, 255, 255, 0.76);
                }
            }
        }

        .blog-card-container,
        .everything{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 27rem), 1fr));
            gap: 3rem;
        }
    
        .load-more-btn{
            display: block;
            margin: 5rem auto 0;
            padding: 2rem 5rem;
            color: #fff;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 1.8rem;
            border-radius: 100px;
            background: linear-gradient(to top right, #ff862e, #ff69ee);
        }
    }
}

