:root{
  --bg-color: #0f121a;
  --txt-color-primary: #fff;
  --txt-color-secondary: #8d93a1;
  --primary-color: #161a24;
  --navbar-color: linear-gradient(to bottom, #161a24 1%, #161a2454 80%);
  --placeholder-color: #212735;
}

.container{
    padding: 0 3rem;
    max-width: 138rem;
    margin: 0 auto;
}

h1{
    font-size: 4.6rem;
}

h2{
    font-size: 4.2rem;
}

h3{
}

h4{
}