.blog-card{
    background: var(--primary-color);
    border-radius: 1rem;
    overflow: hidden;
    
    img{
        aspect-ratio: 16 / 9;
        object-fit: cover;
        width: 100%;
    }

    .content{
        padding: 3rem 2.5rem;

        .title{
            font-size: 1.9rem;
            font-weight: 600;
            line-height: 1.4;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-bottom: 1rem;
            color: var(--txt-color-primary);
        }
        
        .description{
            font-size: 1.6rem;
            line-height: 1.5;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            color: var(--txt-color-secondary);
        }

        .read-more{
            font-size: 1.6rem;
            margin-top: 2rem;
            color: var(--txt-color-primary);
            display: flex;
            align-items: center;

            &:hover{

                img{
                    margin-left: 2rem;
                }
            }

            img{
                max-width: 2.5rem;
                margin-left: 1.3rem;
                transition: margin-left .3s ease;
            }
        }
    }
}